<!DOCTYPE html>
<html>
  <head>
    <title>HelpdeskSys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" href="#">Helpdesk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
          </ul>
          <ul class='navbar-nav'>
            <li class='nav-item dropdown'>
              <a href='#' class='nav-link dropdown-toggle' role='button' data-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                <%= icon('far', 'user-circle') %> <%= current_user.email %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to icon('fas', 'cog', ' Account Settings'), users_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to icon('fas', 'sign-out-alt', ' Sign Out'), destroy_user_session_path, class: 'dropdown-item', method: :delete %>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
